<!-- The Side Bar -->

<aside aria-label="Sidebar" id="sidebar" class="d-flex flex-column align-items-end">

  <button type="button" id="sidebar-closer" class="btn btn-link" onclick="document.getElementById('sidebar-trigger').click();">
    <i class="fas fa-xmark fa-fw"></i>
  </button>

  {% unless site.theme_mode %}
<!--
    <button type="button" class="mode-toggle btn" aria-label="Switch Mode">
      <i class="fas fa-adjust"></i>
    </button>
-->

    <button id="mode-toggle" type="button" aria-label="Switch Mode" class="mode-toggle fa-fw fas" data-bs-toggle="tooltip" data-placement="top" data-bs-original-title="Dark Mode">
      <div class="mode-switch"></div>
      <div class="mode-moon fa-fw fas"></div>
      <div class="mode-sun fa-fw fas"></div>
    </button>


  <header class="profile-wrapper">
    <a href="{{ '/' | relative_url }}" id="avatar" class="rounded-circle">
      {%- if site.avatar != empty and site.avatar -%}
        {%- capture avatar_url -%}
          {% include img-url.html src=site.avatar %}
        {%- endcapture -%}
        <img src="{{- avatar_url -}}" width="112" height="112" alt="avatar" onerror="this.style.display='none'">
      {%- endif -%}
    </a>

    <h1 class="site-title">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </h1>
    <p class="site-subtitle fst-italic mb-0">{{ site.tagline }}</p>
  </header>
  <!-- .profile-wrapper -->



  <nav class="flex-column flex-grow-1 w-100 ps-0">
    <ul class="nav">
      <!-- home -->
      <li class="nav-item{% if page.layout == 'home' or page.layout == 'post' and page.url != '/newcomers-101/' %}{{ " active" }}{% endif %}">
        <a href="{{ '/' | relative_url }}" class="nav-link">
          <i class="fa-fw fas fa-home"></i>
          <span>{{ site.data.locales[include.lang].tabs.home | upcase }}</span>
        </a>
      </li>
      <!-- the real tabs -->

      <!-- Hardcoded Newcomer's 101 page as a menu item -->
      <!-- Note the exclusion of '/newcomers-101/' on 'active' above -->
      <li class="nav-item{% if '/newcomers-101/' == page.url %}{{ " active" }}{% endif %}">
        <a href="/newcomers-101/" class="nav-link">
          <i class="fa-fw fas fa-graduation-cap"></i>
          <span>NEWCOMER’S 101</span>
        </a>
      </li>


      {% for tab in site.tabs %}
        {% unless tab.exclude %}
          <li class="nav-item{% if tab.url == page.url %}{{ " active" }}{% endif %}">
            <a href="{{ tab.url | relative_url }}" class="nav-link">
              <i class="fa-fw {{ tab.icon }}"></i>
              {% capture tab_name %}{{ tab.url | split: '/' }}{% endcapture %}
              {% if tab.title and tab.title-sidebar %}
                  <span>{{ site.data.locales[include.lang].tabs.[tab_name] | default: tab.title-sidebar | upcase }}</span>
              {% elsif tab.title-sidebar %}
                    <span>{{ site.data.locales[include.lang].tabs.[tab_name] | default: tab.title-sidebar | upcase }}</span>
              {% else %}
                    <span>{{ site.data.locales[include.lang].tabs.[tab_name] | default: tab.title | upcase }}</span>
              {% endif %}
            </a>
          </li>
        {% endunless %}
          <!-- .nav-item -->
      {% endfor %}
    </ul>
  </nav>

  <div class="sidebar-bottom d-flex flex-wrap  align-items-center w-100">

      {% if site.data.contact.size > 0 %}
        <span class="icon-border"></span>
      {% endif %}
    {% endunless %}

    {% for entry in site.data.contact %}
      {% case entry.type %}
        {% when 'github', 'twitter' %}
          {%- capture url -%}
            https://{{ entry.type }}.com/{{ site[entry.type].username }}
          {%- endcapture -%}
        {% when 'youtube' %}
          {%- capture url -%}
            https://{{ entry.type }}.com/@{{ site[entry.type].username }}
          {%- endcapture -%}
          {% when 'wavlake' %}
            {%- capture url -%}
              https://{{ entry.type }}.com/{{ site[entry.type].username }}
            {%- endcapture -%}
        {% when 'email' %}
          {% assign email = site.social.email | split: '@' %}
          {%- capture url -%}
            javascript:location.href = 'mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@')
          {%- endcapture -%}
        {% when 'rss' %}
          {% assign url = '/feed.xml' | relative_url %}
        {% else %}
          {% assign url = entry.url %}
      {% endcase %}



        {% case entry.type %}
          {% when 'github' %}
            {% assign tooltip = "Github" %}
          {% when 'twitter' %}
            {% assign tooltip = "TwiX" %}
          {% when 'youtube' %}
            {% assign tooltip = "Youtube" %}
          {% when 'wavlake' %}
            {% assign tooltip = "Wavlake" %}
          {% when 'rss' %}
            {% assign tooltip = "RSS" %}
          {% else %}
            {% assign tooltip = "Check it out!" %}
        {% endcase %}

      {% if url %}
        <a
          href="{{ url }}"
          aria-label="{{ entry.type }}"
          {% assign link_types = '' %}
          data-bs-toggle="tooltip"
          data-placement="top"
          data-bs-original-title="{{ tooltip }}"

          {% unless entry.noblank %}
            target="_blank"
            {% assign link_types = 'noopener noreferrer' %}
          {% endunless %}

          {% if entry.type == 'mastodon' %}
            {% assign link_types = link_types | append: ' me' | strip %}
          {% endif %}

          {% unless link_types == empty %}
            rel="{{ link_types }}"
          {% endunless %}
        >
          <i class="{{ entry.icon }}"></i>
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <!-- .sidebar-bottom -->
</aside>
<!-- #sidebar -->
