
<!-- The Tech-O-Meter -->

{% assign int-level = include.level %}
{% assign int-angle = include.angle %}


{% if int-level == nil  %}
  {% assign int-level = 0 %}
{% endif %}

{% if int-angle == nil  %}
  {% assign int-angle = -96 %}
{% endif %}

{% if include.level >= 0 and include.angle == nil %}
  {% case int-level %}
    {% when 0 %}
      {% assign int-angle = -96 %}
    {% when 1 %}
      {% assign int-angle = -82 %}
    {% when 2 %}
      {% assign int-angle = -65 %}
    {% when 3 %}
      {% assign int-angle = -47 %}
    {% when 4 %}
      {% assign int-angle = -27 %}
    {% when 5 %}
      {% assign int-angle = -9 %}
    {% when 6 %}
      {% assign int-angle = 8 %}
    {% when 7 %}
      {% assign int-angle = 27 %}
    {% when 8 %}
      {% assign int-angle = 45 %}
    {% when 9 %}
      {% assign int-angle = 63 %}
    {% when 10 %}
      {% assign int-angle = 80 %}
    {% when 11 %}
      {% assign int-angle = 100 %}
    {% else %}
      {% assign int-angle = -96 %}
      {% assign int-level = 0 %}
  {% endcase %}

{% endif%}

{% assign offset = int-angle | abs | divided_by: 10 %}


<div class="tech-o-meter"
     data-angle="{{ int-angle }}" data-level="{{ int-level }}"
     style="--angle:{{ int-angle }}deg;--level:'{{ int-level }}';"
     >



  <div class="headline">

    <span>Tech-O-Meter</span>
  </div>

  <div class="headline">
     <label class="far fa-circle-question">
       <input type="button" onclick="openTechOMeterModal();">
    </label>


  </div>

  <div class="scale">
    <div class="clipping">
        <div class="cover">
          <div class="unit">Level of<br>technical occultism</div>
        </div>
    </div> <!-- clipping -->
    <div class="needle" style="--offset:{{ offset }};"></div>

    </div> <!-- scale -->

    <div class="tech-o-meter-modal">
      <div class="tech-o-meter-modal-toolbar">
        <div>Tech-O-Meter</div>
        <label class="fas fa-xmark">
          <input type="button" onclick="closeTechOMeterModal();">
       </label>

      </div>

      The Tech-O-Meter indicates several levels of technical occultism. They are explained here:
      <br><br>

    <table>
      <tr><td><span>0</span></td><td>Easy-peasy lemon squeezy!</td></tr>
      <tr><td><span>1</span></td><td>Straight forward, just click your mouse in a certain way.</td></tr>
      <tr><td><span>2</span></td><td>You’ll need to go to “Settings” and make some settings.</td></tr>
      <tr><td><span>3</span></td><td>You’ll need one additional tool to make some settings.</td></tr>
      <tr><td><span>4</span></td><td>You’ll need one additional tool and probably the command line.</td></tr>
      <tr><td><span>5</span></td><td>You mos def will need the command line or ur fckd.</td></tr>
      <tr><td><span>6</span></td><td>You’ll need more than one tool to achieve the goal.</td></tr>
      <tr><td><span>7</span></td><td>You’ll need a chain of tools configured in a certain way to play together.</td></tr>
      <tr><td><span>8</span></td><td>You need to deal with a chain of obscure tools on multiple systems and platforms.</td></tr>
      <tr><td><span>9</span></td><td>You need to configure a multi-platform toolchain with undocumented settings and hacks. Have a stiff drink at hand!</td></tr>
      <tr><td><span>10</span></td><td>It's beyond believe how complicated and buggy that sort of stuff is. Please don’t kill yourself out of frustration!</td></tr>
      <tr><td><span>11</span></td><td>“Experimental”, to put it politely. Almost impossible to make this work; and if, only in a certain set of boundaries ... until the next update.</td></tr>
    </table>

    </div>


</div>
