---
---

@import 'main';

/* append your custom style below */


:root {
  --menu-gradient-light: hsla(211, 45%, 72%, 1); /* ≈#97b7d7 */
  --menu-gradient-dark:  hsla(215, 49%, 58%, 1); /* ≈#5d92c7 */
  /*--topbar-gradient-dark:  hsla(215, 44%, 56%, 1);
  --topbar-gradient-light: hsla(215, 47%, 62%, 1);*/
  --topbar-gradient-dark:  hsla(215, 42%, 54%, 1);
  --topbar-gradient-light: hsla(213, 48%, 64%, 1);
  --3rdpanel-gradient-light: hsla(215, 47%, 62%, 1);
  --3rdpanel-gradient-dark:  hsla(215, 44%, 56%, 1);
  --menu-title-color: hsla(215, 100%, 99%, 1);
  --menu-title-color-dark: hsla(0, 0%, 85%, 1);
  --shadow-blueish: hsla(215,100%,5%,0.9);
  --shadow-blueish-soft: hsla(215,100%,5%,0.3);
  --menu-subtitle-color: hsla(212, 50%, 40%, 1);
  --sidebar-muted-color: white !important;
  --sidebar-muted-color-dark: hsla(15,100%, 95%, 0.45);
  --sidebar-active-color-dark: hsla(15,100%, 100%, 0.85);
  --sidebar-active-bg: hsla(215,100%,100%,0.75) !important;
  --sidebar-hover-bg: hsla(215,100%,100%,0.2) !important;
  --sidebar-active-bg-dark: hsla(15,100%,95%,0.05) !important;
  --sidebar-hover-bg-dark: hsla(15,100%,95%,0.025) !important;
  --body-lightblue: hsla(220, 97%, 98%, 1);
  --body-lightcreme: hsla(55, 20%, 98%, 1);
  --link-color: hsla(215, 49%, 52%, 1) !important; /* slightly darker than --menu-gradient-dark */
  --link-color-hover: hsla(0, 70%, 50%, 1);

  --sidebar-width: 260px;
}


@media (prefers-color-scheme: light) {
  html:not([data-mode]), html[data-mode="light"] {
    --main-bg: var(--body-lightcreme);
    --topbar-bg: var(--main-bg);
    }
}




/*
 *     T O P B A R     --------------------------------------------------------
 */

/* Topbar fixed on mobile */
#topbar-wrapper {
  position: sticky; /* On mobile size: use 'sticky' */
  left: 0px;
  right: 0px;
  top:0px;
  z-index: 98;
  background-color: var(--main-bg);

  }
@media (min-width: 849px) {
  #topbar-wrapper {
    left: var(--sidebar-width);
    position: fixed; /* On desktop size: use 'fixed' */
    }
}

/* Fix font for mobile title bar */
#topbar-title {
  font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
  font-weight: 700;
  cursor: default;
  }
/* Style topbar font color */
@media (prefers-color-scheme: light) {
  html:not([data-mode]), html[data-mode="light"] {

    #topbar-wrapper {
      background-image: linear-gradient(170deg, var(--topbar-gradient-dark), var(--topbar-gradient-light));
      }
    .input-focus #search-input {
      /*background: white !important;*/
      border-color: transparent !important;
      }
    @media (min-width: 849px) {
      #topbar-wrapper {
        background-color: var(--body-lightcreme);
        background-image: unset;
        }
      }
    #topbar-wrapper .input-focus {
      background: white !important;
      border-color: var(--search-border-color) !important;
      }
    #topbar-title {
      color: var(--menu-title-color);
      text-shadow: 1px 1px 2px var(--shadow-blueish),0px 0px 9px rgba(255,255,255,.5);
      }
    #topbar button i,
    #search-cancel {
      color: var(--menu-title-color);
      text-shadow: 1px 1px 2px var(--shadow-blueish);
      }
    }
}

/* Since topbar is now fixed, add space before main content */
#topbar-wrapper + div.row,
#search-result-wrapper {
  margin-top: 3rem; /* Size of topbar */
}
@media (min-width: 849px) {
  #search-result-wrapper {
    padding-left: 1.25rem;
  }
}
/* Topbar shadow */
#topbar-wrapper {
  box-shadow: 0px 10px 12px -17px var(--shadow-blueish);

  }
/* Breadcrumbs tweaks */
#topbar #breadcrumb {
  padding-left: 2.5rem;
  }
@media (min-width: 992px) {
  #topbar #breadcrumb {
    padding-left: 2.4rem;
    }
}
@media (min-width: 1080px) {
  #topbar #breadcrumb {
    padding-left: 2.6rem;
    }
}
@media (min-width: 1200px) {
  #topbar #breadcrumb {
    padding-left: 1.5rem;
    }
}
@media (min-width: 1400px) {
  #topbar #breadcrumb {
    padding-left: 3.9rem;
    }
}
@media (min-width: 1650px) {
  #topbar #breadcrumb {
    padding-left: 1rem;
    }
}


/* Search field tweaks */
@media (prefers-color-scheme: light) {
  html:not([data-mode]), html[data-mode="light"] {
    search {
      background-color: white !important;
      }
    }
}
@media (min-width: 850px) {
  search {
    margin-right: 2.25rem;
    max-width: 200px;
    width: 12rem;
    }
}

@media (min-width: 1200px) {
  search {
    max-width: unset;
    margin-right: 2.75rem;
    width: calc(25% - 2.5rem);
    }
}
@media (min-width: 1400px) {
  search {
    max-width: unset;
    margin-right: 2.75rem;
    width: calc(25% - 1.5rem);
    }
}
@media (min-width: 1650px) {
  search {
    margin-right: calc( (100vw - 300px - 1194px) / 2  );
    width: 18rem;

    }
}



/*
#topbar-wrapper {
  background-image: linear-gradient(to right, #97b7d7, #5d92c7);
  }

#topbar-title {
  color: var(--menu-title-color);
  text-shadow: 1px 1px 2px var(--shadow-blueish);
}*/




/*
 *     S I D E B A R     ------------------------------------------------------
 */


/* New dark mode switch */
#mode-toggle {
  border: 1px solid hsla(0, 100%, 100%, 0.04);
  /*margin-top: calc( (3rem - 1rem * var(--bs-btn-line-height)) / 4 - 2px);*/
  margin-top: 0.9rem;
  margin-right: 1rem;
  line-height: 1;
  /*padding: 4px 4px 5px 4px;*/
  width: 2.6rem;
  height: calc( 1rem + 0.3rem );
  background: none;
  border-radius: 1rem;
  box-shadow: 1px 2px 4px -2px black inset;
  position: absolute;
  opacity: 1;
  transition: opacity
}

#mode-toggle .mode-switch,
#mode-toggle .mode-moon,
#mode-toggle .mode-sun {
  position: absolute;
  width: 1rem;
  height: 1rem;
  line-height: 1;
  top: 0.15rem;
  }

#mode-toggle .mode-switch {
  border-radius: 50%;
  /*border: 1px solid rgba(255,255,255,0);*/
  /*background-color: var(--body-lightcreme);*/
  background-color: hsla(50, 20%, 95%, 1);
  z-index: 21;
  left: 0.125rem;
  top: 0.11rem;
  transition: all 0.2s cubic-bezier(.39,.58,.57,1);
  box-shadow: -0.5px -0.5px 1.0px 0.0px rgba(0,0,20,0.4) inset,
               1.0px  1.0px 1.0px 0.5px rgba(255,255,255,1) inset,
               0.2px  0.4px 1.5px 0.0px rgba(0,0,20,0.3);
}

#mode-toggle .mode-switch:before {
  content: "\f186"; /* moon icon */
  font-size: 60%;
  line-height: 1;
  top: 0.2rem;
  left: 0.25rem;
  margin: 0;
  padding: 0;
  position: absolute;
  color: hsla(0, 100%, 100%, 0);
  transition: all 0.2s cubic-bezier(.39,.58,.57,1);
}

#mode-toggle .mode-moon,
#mode-toggle .mode-sun {
  font-size: 70%;
  line-height: 1;
  margin: 0;
  margin-top: 0.1rem;
  opacity: 1;
}

#mode-toggle .mode-moon {
  right: 0;
  z-index: 20;
  margin-right: 2.5px;
}
#mode-toggle .mode-moon:before {
  content: "\f186";
  color: var(--shadow-blueish);
}

#mode-toggle .mode-sun {
  left: 0;
  z-index: 20;
  margin-left: 2.5px;
}
#mode-toggle .mode-sun:before {
  content: "\f185";
  color: hsla(215, 10%, 60%, 0.2);
  transition: all .3s ease;
}



html[data-mode="dark"] {
  #mode-toggle .mode-switch {
    z-index: 21;
    left: 0.38rem;
    top: 0.115rem;
    transform: translateX(100%);
    background-color: hsla(213, 37%, 46%, 1);
    transition: all 0.2s cubic-bezier(.39,.58,.57,1);
    box-shadow: -0.5px -0.5px 0.5px 0.25px rgba(255,255,255,0.2) inset,
                 0.5px  0.5px 1.0px 0.0px  rgba(0,0,20,0.4) inset,
                 0.2px  0.4px 1.5px 0.0px  rgba(0,0,20,0.3);
    }

  #mode-toggle .mode-switch:before {
    content: "\f186"; /* moon icon */
    /*left: unset;*/
    /*right: 3.5px;*/
    /*top: 3.5px;*/
    color: hsla(0, 100%, 100%, 1);
    text-shadow: 0.5px 0.5px rgba(0,0,20,0.6);
    transition: all 0.2s cubic-bezier(.39,.58,.57,1);
    }
    #mode-toggle .mode-sun:before {
      transition: all .3s ease;
    }
}


/* Give blue gradient background in light mode */
#sidebar {
  background-image: linear-gradient(92deg, var(--menu-gradient-light), var(--menu-gradient-dark) 95%);
  border-right: 0px solid hsla(215, 50%, 50%, 1);
  }
/* No special background in dark mode */
html[data-mode="dark"] #sidebar { background-image: none; }

/* Fix margin, causing unwanted transition effect */
#sidebar .profile-wrapper {
  margin-top: 4.5em;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  }

/* Mobile menu style fix */
@media (max-width: 849px) {
  /* Prepare transition effects */
  #main-wrapper {
    transition: filter 0.2s ease, opacity 0.2s ease;
    }
  /* Change sidebar/mobile menu slide-in effect */
  [sidebar-display] #main-wrapper {
    transform: translateX(0px);
    filter: saturate(30%);
    transition: filter 4s ease-in, opacity 6s ease;
    opacity: 0.65;
    }
  [sidebar-display] main {
    filter: blur(5px) saturate(30%);
    transition: all 4s ease-in;
    }
  [sidebar-display] #topbar-wrapper {
    }
  [sidebar-display] #topbar {
    filter: blur(2px) saturate(25%);
    transition: all 4s ease-in;
    }
  /* Give shadow to sidebar, overcasting blurred main section */
  [sidebar-display] #sidebar {
    box-shadow: 4px 0px 16px hsla(215,100%,5%,0.5);
    }
}

/* Revert large size for big screens */
@media (min-width: 1650px) {
  #sidebar {
    width: var(--sidebar-width); /* The default */
    }
}

/* Styling of new sidebar closer*/
#sidebar-closer {
  visibility: visible;
  position: absolute;
  left: 0;
  font-size: 115%;
  color: var(--sidebar-muted-color); /* default: --sidebar-active-color */
                  /* 3rem: from #topbar-wrapper height */          /* 2px: a beautifying offset for font-size: 115% */
  margin-top: calc( ((3rem - 1rem * var(--bs-btn-line-height)) / 4) - 2px );
  text-shadow: 0.5px 0.5px 2px var(--shadow-blueish);
  transition: all  0.2s ease;
  }
#sidebar-closer:hover {
  transition: all  0.2s ease;
  text-shadow: 1px 1.5px 3px var(--shadow-blueish);
  }
html[data-mode="dark"] {
  #sidebar-closer { color: var(--sidebar-muted-color-dark); }
  }
@media (min-width: 849px) {
    #sidebar-closer { visibility: hidden; }
  }




/* Restyle avatar */
#sidebar #avatar {
  width:  8rem;
  height: 8rem;
  margin-left: 2.5rem;
  background-image: url("/assets/img/larrylasermind-avatar-blue.jpg");
  background-size: cover;
  transition: all 0.5s ease;
  box-shadow: 2px 3px 10px rgba(0,0,20,0.5),
              -3px -3px 24px rgba(255,255,255,0.4);
  }
/* Avatar: don't use <img> tag, but CSS background property */
#sidebar #avatar img { display: none; }

/* Avatar hover effect */
#sidebar #avatar:hover {
  box-shadow: 2px 9px 15px rgba(0,0,20,0.3),
              -4px -4px 12px rgba(255,255,255,0.1);
  transform: translate(0px, -2px);
  transition: all 0.4s ease;
  }
/* Avatar in dark mode */
html[data-mode="dark"] #sidebar #avatar {
  box-shadow: 2px 3px 14px black;
  }
html[data-mode="dark"] #sidebar #avatar:hover {
  box-shadow: 2px 6px 16px black;
  }




/* Restyle sidebar titles */
#sidebar .site-title {
  text-align: center;
  line-height: 1.1;
  }
#sidebar .site-title a {
  color: var(--menu-title-color);
  text-shadow: 1px 1px 2px var(--shadow-blueish),
               0px 0px 16px rgba(255,255,255,0.7);
  display: inline-block;
  }
/* Give fancy hover effect (in light mode) */
#sidebar .site-title a:hover {
  color: var(--menu-title-color);
  text-shadow: 2px 3px 6px hsla(215,100%,5%,0.7),
               0px 0px 22px rgba(255,255,255,1);
  transform: translate(0px, -0.5px);
  }
/* Sidebar in dark mode */
html[data-mode="dark"] {
    #sidebar .site-title a {
      color: var(--menu-title-color-dark);
      /* Apply small shadow in dark mode */
      text-shadow: 1.5px 2px 4px black;
      transition: all 0.4s ease;
      }
  }
html[data-mode="dark"] {
      #sidebar .site-title a:hover {
      color: white;
      transition: all 0.4s ease;
      text-shadow: 3px 4px 8px black;
      }
    }

/* Sidebar subtitle: color and dark mode */
#sidebar .site-subtitle {
  color: var(--menu-subtitle-color);
  text-align: center;
  font-size: 90%;
  font-style: normal !important;
 }
html[data-mode="dark"] {
  #sidebar .site-subtitle {
    color: #b1b1b1;
    }
}



/* Restyle menu items */
/* Revert menu section opacity to 1 */
#sidebar ul li.nav-item { opacity: 1; }

/* New menu pill borders */
#sidebar ul li.nav-item a.nav-link {
  border-radius:0.42rem;
  }
/* Tweak contrast of icons a little bit */
#sidebar ul li.nav-item a.nav-link i {
  opacity: 0.85;
  }
html[data-mode="dark"] {
  #sidebar ul li.nav-item.active a.nav-link i {
    opacity: 0.8;
    }
}
/* Mild letter-spacing on: menu text */
#sidebar ul li.nav-item a.nav-link span {
  letter-spacing: 0.085em;
  }
/* Drop shadow on: menu icon and text */
#sidebar ul li.nav-item a.nav-link i,
#sidebar ul li.nav-item a.nav-link span {
  text-shadow: 0.5px 0.5px 1px var(--shadow-blueish);
  }
/*  Active element: excluded from shadow, plus special color */
#sidebar ul li.nav-item.active a.nav-link i,
#sidebar ul li.nav-item.active a.nav-link span {
  text-shadow: none;
  color: var(--shadow-blueish);
}
html[data-mode="dark"] {
  #sidebar ul li.nav-item.active a.nav-link i,
  #sidebar ul li.nav-item.active a.nav-link span {
    color: var(--sidebar-active-color-dark);
    }
}
/* Text color of muted menu items in dark mode */
html[data-mode="dark"] {
  #sidebar ul li.nav-item a.nav-link i,
  #sidebar ul li.nav-item a.nav-link span {
    color: var(--sidebar-muted-color-dark);
    }
  }

/* Menu pills: styles */
#sidebar ul li.nav-item.active .nav-link {
  background-color: var(--sidebar-active-bg);
  }
#sidebar ul li.nav-item a.nav-link:hover {
  background-color: var(--sidebar-hover-bg);
  transition: background-color 0.4s ease;
  }
#sidebar ul li.nav-item.active a.nav-link:hover {
  background-color: var(--sidebar-active-bg);
  }
html[data-mode="dark"] {
    #sidebar ul li.nav-item.active .nav-link {
      background-color: var(--sidebar-active-bg-dark);
      }
    #sidebar ul li.nav-item a.nav-link:hover {
      background-color: var(--sidebar-hover-bg-dark);
      }
    #sidebar ul li.nav-item.active a.nav-link:hover {
      background-color: var(--sidebar-active-bg-dark);
      }
}
/* Menu pills: hover effect */
@media (hover: hover) {
.nav-link {
  transition: background-color 0.7s ease-in-out;
  }
.nav-link:hover {
  transition: background-color 0.3s ease-in-out;
  }
}

/* Divider dot between dark mode toggle and social */
#sidebar .sidebar-bottom span.icon-border {
  display: none;
  }

/* Social account button */
#sidebar .sidebar-bottom {
  padding-left: 2.25rem;
  }
#sidebar .sidebar-bottom a {
  margin-bottom: 1rem;
  box-shadow: 1px 1.5px 1px 0px var(--shadow-blueish-soft);
  color: var(--shadow-blueish);
  }
#sidebar .sidebar-bottom a:not(:last-child) {
  margin-right: 0.74rem;
  }
#sidebar .sidebar-bottom a i {
  opacity: 0.9;
  transition: all 0.2s ease;
}
#sidebar .sidebar-bottom a:hover,
#sidebar .sidebar-bottom a:focus {
  transform: translateY(-3px);
  background-color: var(--sidebar-btn-bg);
  box-shadow: 1px 6px 6px 0px var(--shadow-blueish-soft);
  }
#sidebar .sidebar-bottom a:hover i,
#sidebar .sidebar-bottom a:focus i {
  opacity: 1;
  transition: all 0.2s ease;
  }
#sidebar .sidebar-bottom a i.icon-wavlake {
  background-image: url('/assets/img/icon-wavlake-blueish.svg');
  background-repeat: no-repeat;
  width: 72%;
  height: 72%;
  opacity: 0.8;
  background-position-x: 1px;
  }
#sidebar .sidebar-bottom a:hover i.icon-wavlake {
  opacity: 1;
}
html[data-mode="dark"] {
  #sidebar .sidebar-bottom a {
    color: unset;
    }
  #sidebar .sidebar-bottom a i {
    transition: all 0.6s ease;
    }
    /*
  #sidebar .sidebar-bottom a:hover i,
  #sidebar .sidebar-bottom a:focus i {
    filter: brightness(100);
    transition: all 0.2s ease;
    }
    */
  #sidebar .sidebar-bottom a i.icon-wavlake {
    filter: invert(100%) brightness(80%) saturate(0%);
    }
    /*
  #sidebar .sidebar-bottom a:hover i.icon-wavlake,
  #sidebar .sidebar-bottom a:focus i.icon-wavlake {
      filter: invert(100%) brightness(80%) saturate(0%) brightness(100);
      transition: all 0.2s ease;
    }
    */
}


/*
 *     MAIN     ---------------------------------------------------------------
 */

/* Fix padding of main section */
 @media (min-width: 768px) {
   .px-md-4 { padding-right: 4.5rem !important; }
 }
 @media (min-width: 1650px) {
   main.col-12 { padding-right: 10.5rem !important; }
 }





/*
 *     3rd  S I D E  P A N E L     --------------------------------------------
 */

 @media (prefers-color-scheme: light) {
   html:not([data-mode]), html[data-mode="light"] {
    #panel-wrapper {
      /*background-image: linear-gradient(to right, var(--3rdpanel-gradient-dark), var(--3rdpanel-gradient-light));*/
      /*background-image: linear-gradient( to right, hsl(216, 90%, 90%) 0%, hsl(216, 90%, 95%) 30%, hsl(216, 90%, 95%) 60%, transparent 100%);*/
      /*ackground-image: radial-gradient( circle, hsl(216, 90%, 90%) 0%, hsl(216, 90%, 95%) 30%, hsl(216, 90%, 95%) 60%, transparent 100%);*/
      background-image: radial-gradient( farthest-side at 0% 50%, hsl(213, 93%, 94%) 10%, hsl(216, 90%, 96%) 30%, hsl(217, 90%, 96%) 60%, transparent 95%);
      }
  }
}



/*
 *     F O O T E R     --------------------------------------------------------
 */

footer {
  border: none;
  }

@media (min-width: 850px) {
  footer {

    padding: 0;
    height: 0.5rem;
    }
}


/* Tame back to top button */
#back-to-top {
  left: calc( 50% - (2.75rem / 2) );
  bottom: 3rem;
  position: absolute;
  border-color: transparent !important;
  border-image-width: 0 !important;;
}

@media (min-width: 850px) {
  #back-to-top {
    display: none !important;
    }
}

@media (prefers-color-scheme: light) {
  html:not([data-mode]), html[data-mode="light"] {
    #back-to-top {
      background-color: hsla(215, 50%, 80%, 1);
      background-image: linear-gradient(to right, var(--topbar-gradient-dark), var(--topbar-gradient-light));
      border: none;
      box-shadow: 2px 3px 6px 0px rgba(0,0,20,0.15);
      transition: all 0.4s ease;
      }
    #back-to-top:hover {
      box-shadow: 1px 5px 8px 0px rgba(0,0,20,0.2);
      transition: all 0.4s ease;
      border: none;
      }
    #back-to-top i {
      color: white;
      text-shadow: 1px 1px 2px var(--shadow-blueish);
    }
}}


/*
 *     M I S C     ------------------------------------------------------------
 */


/* Fix post list's preview image width */
@media (min-width: 768px) {
  .col-md-7 { width: 47%; }
  .col-md-5 { width: 53%; }
}
#post-list .card .card-body .card-text.content p {
  -webkit-line-clamp: 3;
  }
@media (min-width: 850px) {
  #post-list .card .card-body .card-text.content p {
    -webkit-line-clamp: 2;
    }
}
@media ( (min-width: 1050px) and (max-width: 1200px) ) {
  #post-list .card .card-body .card-text.content p {
    -webkit-line-clamp: 4;
    }
}
@media (min-width: 1200px) {
  #post-list .card .card-body .card-text.content p {
    -webkit-line-clamp: 3;
    }
}
@media (min-width: 1350px) {
  #post-list .card .card-body .card-text.content p {
    -webkit-line-clamp: 4;
    }
}

@media (prefers-color-scheme: light) {
  html:not([data-mode]), html[data-mode="light"] {
  --card-hovor-bg: white;
  --card-shadow: rgb(104, 104, 104, 0.07) 1px 2px 8px 0px, rgba(211, 209, 209, 0.15) 0 0 0 1px;
  }
}


/* Post meta: fix category pills offset */
.post-meta .me-1 {
  margin-right: 0.65rem !important;
}


/* Fix for missing '--link-color-hover' variable */
#page-category a:hover, #page-tag a:hover, .post-tags .post-tag:hover, .post-tail-wrapper .license-wrapper > a:hover, #search-results a:hover, #topbar #breadcrumb a:hover, .content a:not(.img-link):hover, .post-meta a:not([class]):hover, #access-lastmod a:hover, footer a:hover {
  color: var(--link-color-hover) !important;
  }
#page-category a:hover, #page-tag a:hover, .post-tail-wrapper .license-wrapper > a:hover, #search-results a:hover, #topbar #breadcrumb a:hover, .post-meta a:not([class]):hover, #access-lastmod a:hover, footer a:hover {
  border-bottom: 1px solid var(--link-color-hover) !important;
  }
.content a:not(.img-link) {
  border-bottom: none;
 }
 .content a:not(.img-link):hover {
   border-bottom: none;
  }

.post-tags .post-tag:hover, .tag:hover {
  background-color: hsla(10, 100%, 50%, 0.02)
  }

  .tag {
    padding-bottom: 5px;
  }

  @media (prefers-color-scheme: light) {
    html:not([data-mode]), html[data-mode="light"] {
      /* Search: search hint pills */
      #search-hints .post-tag {
        border: 1px solid rgba(0,0,20, 0.07);
        }
      #search-hints .post-tag:hover {
        background-color: rgba(255,43,0,.02);
        color: var(--link-color-hover) !important;
        border-color: rgba(0,0,20, 0.15) !important;
        }
}}


/*
 *     M A T H J A X     ------------------------------------------------------
 */

/** MathJax styles and fixes **/
/* Make font size smaller on small viewports */
@media (max-width: 600px) {
    mjx-container {
    font-size: 70% !important;
    }
}
/* Style equation display */
[id^='mjx-eqn'] { text-align: left; }
mjx-labels { opacity: 0.6; }
mjx-mtext { font-size: 65%; }






/*
 *      S P E C I A L   P O S T   S T Y L E S     -----------------------------
 */
