---
---

@import 'main';

/* append your custom style below */


:root {
  /*--menu-gradient-light: hsla(211, 45%, 72%, 1); /* ≈#97b7d7 */
  /*--menu-gradient-dark:  hsla(215, 49%, 58%, 1);/* /* ≈#5d92c7 */
  --sidebar-gradient-shade: hsla(214, 48%, 47%, 1);
  --sidebar-gradient-dark:  hsla(215, 47%, 58%, 1);
  --sidebar-gradient-light: hsla(214, 60%, 70%, 1);
  /*--topbar-gradient-dark:  hsla(215, 44%, 56%, 1);
  --topbar-gradient-light: hsla(215, 47%, 62%, 1);*/
  --topbar-gradient-shade: hsla(213, 54%, 48%, 1);
  --topbar-gradient-dark:  hsla(215, 56%, 60%, 1);
  --topbar-gradient-light: hsla(214, 63%, 70%, 1);
  --3rdpanel-gradient-light: hsla(215, 47%, 62%, 1);
  --3rdpanel-gradient-dark:  hsla(215, 44%, 56%, 1);

  --menu-title-color: hsla(215, 100%, 99%, 1);
  --menu-title-color-dark: hsla(0, 0%, 85%, 1);
  --shadow-blueish: hsla(215,100%,5%,0.9);
  --shadow-blueish-soft: hsla(215,100%,5%,0.3);
  --menu-subtitle-color: hsla(212, 50%, 33%, 1);

  --sidebar-muted-color: white !important;
  --sidebar-muted-color-dark: hsla(15,100%, 95%, 0.45);
  --sidebar-active-color-dark: hsla(15,100%, 100%, 0.85);
  --sidebar-active-bg: hsla(215,100%,100%,0.75) !important;
  --sidebar-hover-bg: hsla(215,100%,100%,0.2) !important;
  --sidebar-active-bg-dark: hsla(15,100%,95%,0.05) !important;
  --sidebar-hover-bg-dark: hsla(15,100%,95%,0.025) !important;
  --body-lightblue: hsla(220, 97%, 98%, 1);
  --body-lightcreme: hsla(55, 20%, 98%, 1);
  --link-color: hsla(215, 49%, 52%, 1) !important; /* slightly darker than --menu-gradient-dark */
  --link-color-hover: hsla(0, 70%, 50%, 1);

  --sidebar-width: 260px;

  --main-bg: var(--body-lightcreme);
  --topbar-bg: var(--main-bg);

}
/* Hacky background hacks for older browsers */
@media (prefers-color-scheme: light) {
html:not([data-mode]), html[data-mode="light"] {
    --main-bg: var(--body-lightcreme) !important;
    --topbar-bg: var(--main-bg) !important;
    --dash-color: hsla(0, 0%, 85%, 1) !important;
}}
html[data-mode="dark"] {
  :root {
    --main-bg: var(--main-bg) !important;
    --topbar-bg: var(--topbar-bg) !important;
    }
}

/* Style selection colour */
::selection {
  background-color: hsla(52, 77%, 80%, 1);
  }
html[data-mode="dark"] {
  ::selection {
    background-color: hsla(47, 30%, 55%, 1);
    color: black;
    }
}




/*
 *     T O P B A R     --------------------------------------------------------
 */

/* Topbar fixed on mobile */
#topbar-wrapper {
  position: sticky; /* On mobile size: use 'sticky' */
  left: 0px;
  right: 0px;
  top:0px;
  z-index: 98;
    }
@media (min-width: 849px) {
  #topbar-wrapper {
    left: var(--sidebar-width);
    position: fixed; /* On desktop size: use 'fixed' */
    }
}

/* Fix font for mobile title bar */
#topbar-title {
  font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
  font-weight: 700;
  cursor: default;
  line-height: 2.1;
  text-transform: capitalize;
  }

/* Style topbar colors */
#topbar-wrapper {
  background-color: var(--topbar-gradient-dark);
  background-image: linear-gradient(165deg, var(--topbar-gradient-shade) -5%, var(--topbar-gradient-dark) 35%, var(--topbar-gradient-light) 100%);
  }
.input-focus #search-input {
  /*background: white !important;*/
  border-color: transparent !important;
  }
@media (min-width: 849px) {
  #topbar-wrapper {
    background-color: var(--body-lightcreme);
    background-image: unset;
    }
  }
#topbar-wrapper .input-focus {
  background: white !important;
  border-color: var(--search-border-color) !important;
  }
#topbar-title {
  color: var(--menu-title-color);
  text-shadow: 1px 1px 2px var(--shadow-blueish),0px 0px 12px rgba(255,255,255,.6);
  }
#topbar button i,
#search-cancel {
  color: var(--menu-title-color);
  text-shadow: 1px 1px 2px var(--shadow-blueish);
  }
html[data-mode="dark"] {
  #topbar-wrapper {
    background-color: var(--main-bg);
    background-image: unset;
    }
  #topbar-wrapper .input-focus {
    background: unset !important;
    }
  #topbar-title,
  #topbar button i,
  #search-cancel {
    color: var(--menu-title-color-dark);
    }
  #topbar-title {
    text-shadow: 1px 1px 2px var(--shadow-blueish),0px 0px 15px rgba(255,255,255,.3);
    }
}

/* Since topbar is now fixed, add space before main content */

@media (min-width: 849px) {
  #search-result-wrapper {
    padding-left: 1.25rem;
    }
  #topbar-wrapper + div.row,
  #search-result-wrapper {
    margin-top: 3rem; /* Size of topbar */
   }
}
/* Topbar shadow */
#topbar-wrapper {
  box-shadow: 0px 10px 12px -17px var(--shadow-blueish);

  }
/* Breadcrumbs tweaks */
#topbar #breadcrumb {
  padding-left: 2.5rem;
  }
@media (min-width: 992px) {
  #topbar #breadcrumb {
    padding-left: 2.4rem;
    }
}
@media (min-width: 1080px) {
  #topbar #breadcrumb {
    padding-left: 2.6rem;
    }
}
@media (min-width: 1200px) {
  #topbar #breadcrumb {
    padding-left: 1.5rem;
    }
}
@media (min-width: 1400px) {
  #topbar #breadcrumb {
    padding-left: 3.9rem;
    }
}
@media (min-width: 1650px) {
  #topbar #breadcrumb {
    padding-left: 1rem;
    }
}
.lonely-breadcrumb {
  color: var(--link-color);
  cursor: help;
}


/* Search field tweaks */
search {
  background-color: white !important;
  }
html[data-mode="dark"] {
  search {
    background-color: unset !important;
    }
}


@media (min-width: 850px) {
  search {
    margin-right: 2.25rem;
    max-width: 200px;
    width: 12rem;
    }
}

@media (min-width: 1200px) {
  search {
    max-width: unset;
    margin-right: 2.75rem;
    width: calc(25% - 2.5rem);
    }
}
@media (min-width: 1400px) {
  search {
    max-width: unset;
    margin-right: 2.75rem;
    width: calc(25% - 1.5rem);
    }
}
@media (min-width: 1650px) {
  search {
    margin-right: calc( (100vw - 300px - 1194px) / 2  );
    width: 18rem;

    }
}






/*
 *     S I D E B A R     ------------------------------------------------------
 */


/* New dark mode switch */
#mode-toggle {
  border: 1px solid hsla(0, 100%, 100%, 0.04);
  /*margin-top: calc( (3rem - 1rem * var(--bs-btn-line-height)) / 4 - 2px);*/
  margin-top: 0.9rem;
  margin-right: 1rem;
  line-height: 1;
  /*padding: 4px 4px 5px 4px;*/
  width: 2.6rem;
  height: calc( 1rem + 0.35rem );
  background: none;
  border-radius: 1rem;
  box-shadow: 1px 2px 4px -2px black inset;
  position: absolute;
  opacity: 1;
  transition: opacity;
  display: none; /* Hidden when browser doesn't support */
}
/* Display toggle when browser does support */
@media (prefers-color-scheme: light) {
  #mode-toggle { display: block; }   }
  @media (prefers-color-scheme: dark) {
    #mode-toggle { display: block; }   }


#mode-toggle .mode-switch,
#mode-toggle .mode-moon,
#mode-toggle .mode-sun {
  position: absolute;
  width: 1rem;
  height: 1rem;
  line-height: 1;
  top: 0.15rem;
  }

#mode-toggle .mode-switch {
  border-radius: 50%;
  /*border: 1px solid rgba(255,255,255,0);*/
  /*background-color: var(--body-lightcreme);*/
  background-color: hsla(50, 20%, 95%, 1);
  z-index: 21;
  left: 0.15rem;
  top: 0.125rem;
  transition: all 0.2s cubic-bezier(.39,.58,.57,1);
  box-shadow: -0.5px -0.5px 1.0px 0.0px rgba(0,0,20,0.4) inset,
               1.0px  1.0px 1.0px 0.5px rgba(255,255,255,1) inset,
               0.2px  0.4px 1.5px 0.0px rgba(0,0,20,0.3);
}

#mode-toggle .mode-switch:before {
  content: "\f186"; /* moon icon */
  font-size: 60%;
  line-height: 1;
  top: 0.2rem;
  left: 0.25rem;
  margin: 0;
  padding: 0;
  position: absolute;
  color: hsla(0, 100%, 100%, 0);
  transition: all 0.2s cubic-bezier(.39,.58,.57,1);
}

#mode-toggle .mode-moon,
#mode-toggle .mode-sun {
  font-size: 70%;
  line-height: 1;
  margin: 0;
  margin-top: 0.1rem;
  opacity: 1;
}

#mode-toggle .mode-moon {
  right: 0;
  z-index: 20;
  margin-right: 2.5px;
}
#mode-toggle .mode-moon:before {
  content: "\f186";
  color: var(--shadow-blueish);
}

#mode-toggle .mode-sun {
  left: 0;
  z-index: 20;
  margin-left: 2.5px;
}
#mode-toggle .mode-sun:before {
  content: "\f185";
  color: hsla(215, 10%, 60%, 0.2);
  transition: all .3s ease;
}



html[data-mode="dark"] {
  #mode-toggle .mode-switch {
    z-index: 21;
    left: 0.38rem;
    top: 0.125rem;
    transform: translateX(100%);
    background-color: hsla(213, 37%, 46%, 1);
    transition: all 0.2s cubic-bezier(.39,.58,.57,1);
    box-shadow: -0.5px -0.5px 0.5px 0.25px rgba(255,255,255,0.2) inset,
                 0.5px  0.5px 1.0px 0.0px  rgba(0,0,20,0.4) inset,
                 0.2px  0.4px 1.5px 0.0px  rgba(0,0,20,0.3);
    }

  #mode-toggle .mode-switch:before {
    content: "\f186"; /* moon icon */
    /*left: unset;*/
    /*right: 3.5px;*/
    /*top: 3.5px;*/
    color: hsla(0, 100%, 100%, 1);
    text-shadow: 0.5px 0.5px rgba(0,0,20,0.6);
    transition: all 0.2s cubic-bezier(.39,.58,.57,1);
    }
    #mode-toggle .mode-sun:before {
      transition: all .3s ease;
    }
}


/* Give blue gradient background in light mode */
#sidebar {
  /*background-image: linear-gradient(92deg, var(--menu-gradient-light), var(--menu-gradient-dark) 95%);*/
  background-image: linear-gradient(-97deg, var(--sidebar-gradient-shade) -3%, var(--sidebar-gradient-dark) 35%, var(--sidebar-gradient-light) 90%);
  border-right: 0px solid hsla(215, 50%, 50%, 1);
  }
/* No special background in dark mode */
html[data-mode="dark"] #sidebar { background-image: none; }

/* Fix margin, causing unwanted transition effect */
#sidebar .profile-wrapper {
  margin-top: 4.5em;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  }

/* Mobile menu style fix */
@media (max-width: 849px) {
  /* Prepare transition effects */
  #main-wrapper {
    transition: filter 0.2s ease, opacity 0.2s ease;
    }
  /* Change sidebar/mobile menu slide-in effect */
  [sidebar-display] #main-wrapper {
    transform: translateX(0px);
    filter: saturate(30%);
    transition: filter 4s ease-in, opacity 6s ease;
    opacity: 0.65;
    }
  [sidebar-display] main {
    filter: blur(5px) saturate(30%);
    transition: all 4s ease-in;
    }
  [sidebar-display] #topbar-wrapper {
    }
  [sidebar-display] #topbar {
    filter: blur(2px) saturate(25%);
    transition: all 4s ease-in;
    }
  /* Give shadow to sidebar, overcasting blurred main section */
  [sidebar-display] #sidebar {
    box-shadow: 4px 0px 16px hsla(215,100%,5%,0.5);
    }
}

/* Revert large size for big screens */
@media (min-width: 1650px) {
  #sidebar {
    width: var(--sidebar-width); /* The default */
    }
}

/* Styling of new sidebar closer*/
#sidebar-closer {
  visibility: visible;
  position: absolute;
  left: 0;
  font-size: 115%;
  color: var(--sidebar-muted-color); /* default: --sidebar-active-color */
                  /* 3rem: from #topbar-wrapper height */          /* 2px: a beautifying offset for font-size: 115% */
  margin-top: calc( ((3rem - 1rem * var(--bs-btn-line-height)) / 4) - 2px );
  text-shadow: 0.5px 0.5px 2px var(--shadow-blueish);
  transition: all  0.2s ease;
  }
#sidebar-closer:hover {
  transition: all  0.2s ease;
  text-shadow: 1px 1.5px 3px var(--shadow-blueish);
  }
html[data-mode="dark"] {
  #sidebar-closer { color: var(--sidebar-muted-color-dark); }
  }
@media (min-width: 849px) {
    #sidebar-closer { visibility: hidden; }
  }




/* Restyle avatar */
#sidebar #avatar {
  width:  8rem;
  height: 8rem;
  margin-left: 2.5rem;
  background-image: url("/assets/img/larrylasermind-avatar-blue.jpg");
  background-size: cover;
  transition: all 0.5s ease;
  box-shadow: 2px 3px 10px rgba(0,0,20,0.5),
              -3px -3px 24px rgba(255,255,255,0.4);
  }
/* Avatar: don't use <img> tag, but CSS background property */
#sidebar #avatar img { display: none; }

/* Avatar hover effect */
#sidebar #avatar:hover {
  box-shadow: 2px 9px 15px rgba(0,0,20,0.3),
              -4px -4px 12px rgba(255,255,255,0.1);
  transform: translate(0px, -2px);
  transition: all 0.4s ease;
  }
/* Avatar in dark mode */
html[data-mode="dark"] #sidebar #avatar {
  box-shadow: 2px 3px 14px black;
  }
html[data-mode="dark"] #sidebar #avatar:hover {
  box-shadow: 2px 6px 16px black;
  }




/* Restyle sidebar titles */
#sidebar .site-title {
  text-align: center;
  line-height: 1.1;
  }
#sidebar .site-title a {
  color: var(--menu-title-color);
  text-shadow: 1px 1px 2px var(--shadow-blueish),
               0px 0px 16px rgba(255,255,255,0.7);
  display: inline-block;
  }
/* Give fancy hover effect (in light mode) */
#sidebar .site-title a:hover {
  color: var(--menu-title-color);
  text-shadow: 2px 3px 6px hsla(215,100%,5%,0.7),
               0px 0px 22px rgba(255,255,255,1);
  transform: translate(0px, -0.5px);
  }
/* Sidebar in dark mode */
html[data-mode="dark"] {
    #sidebar .site-title a {
      color: var(--menu-title-color-dark);
      /* Apply small shadow in dark mode */
      text-shadow: 1.5px 2px 4px black;
      transition: all 0.4s ease;
      }
  }
html[data-mode="dark"] {
      #sidebar .site-title a:hover {
      color: white;
      transition: all 0.4s ease;
      text-shadow: 3px 4px 8px black;
      }
    }

/* Sidebar subtitle: color and dark mode */
#sidebar .site-subtitle {
  color: var(--menu-subtitle-color);
  text-align: center;
  font-size: 90%;
  font-style: normal !important;
 }
html[data-mode="dark"] {
  #sidebar .site-subtitle {
    color: #b1b1b1;
    }
}



/* Restyle menu items */
/* Revert menu section opacity to 1 */
#sidebar ul li.nav-item { opacity: 1; }

/* New menu pill borders */
#sidebar ul li.nav-item a.nav-link {
  border-radius:0.42rem;
  }
/* Tweak contrast of icons a little bit */
#sidebar ul li.nav-item a.nav-link i {
  opacity: 0.85;
  }
html[data-mode="dark"] {
  #sidebar ul li.nav-item.active a.nav-link i {
    opacity: 0.8;
    }
}
/* Mild letter-spacing on: menu text */
#sidebar ul li.nav-item a.nav-link span {
  letter-spacing: 0.085em;
  }
/* Drop shadow on: menu icon and text */
#sidebar ul li.nav-item a.nav-link i,
#sidebar ul li.nav-item a.nav-link span {
  text-shadow: 0.5px 0.5px 1px var(--shadow-blueish);
  text-rendering: geometricprecision;
  }
/*  Active element: excluded from shadow, plus special color */
#sidebar ul li.nav-item.active a.nav-link i,
#sidebar ul li.nav-item.active a.nav-link span {
  text-shadow: none;
  color: var(--shadow-blueish);
}
html[data-mode="dark"] {
  #sidebar ul li.nav-item.active a.nav-link i,
  #sidebar ul li.nav-item.active a.nav-link span {
    color: var(--sidebar-active-color-dark);
    }
}
/* Text color of muted menu items in dark mode */
html[data-mode="dark"] {
  #sidebar ul li.nav-item a.nav-link i,
  #sidebar ul li.nav-item a.nav-link span {
    color: var(--sidebar-muted-color-dark);
    }
  }

/* Menu pills: styles */
#sidebar ul li.nav-item.active .nav-link {
  background-color: var(--sidebar-active-bg);
  }
#sidebar ul li.nav-item a.nav-link:hover {
  background-color: var(--sidebar-hover-bg);
  transition: background-color 0.4s ease;
  }
#sidebar ul li.nav-item.active a.nav-link:hover {
  background-color: var(--sidebar-active-bg);
  }
/* Special style for 'timeline' icon */
#sidebar ul li.nav-item a.nav-link i.fa-timeline {
  transform: rotate(-90deg);
  text-shadow: -.5px .5px 1px var(--shadow-blueish);
  }
#sidebar ul li.nav-item.active a.nav-link i.fa-timeline {
  text-shadow: none;
  }
html[data-mode="dark"] {
    #sidebar ul li.nav-item.active .nav-link {
      background-color: var(--sidebar-active-bg-dark);
      }
    #sidebar ul li.nav-item a.nav-link:hover {
      background-color: var(--sidebar-hover-bg-dark);
      }
    #sidebar ul li.nav-item.active a.nav-link:hover {
      background-color: var(--sidebar-active-bg-dark);
      }
    #sidebar ul li.nav-item.active a.nav-link i.fa-timeline {
      text-shadow: none;
      }
}
/* Menu pills: hover effect */
@media (hover: hover) {
.nav-link {
  transition: background-color 0.7s ease-in-out;
  }
.nav-link:hover {
  transition: background-color 0.3s ease-in-out;
  }
}

/* Divider dot between dark mode toggle and social */
#sidebar .sidebar-bottom span.icon-border {
  display: none;
  }

/* Social account button */
#sidebar .sidebar-bottom {
  padding-left: 2.25rem;
  }
#sidebar .sidebar-bottom a {
  margin-bottom: 1rem;
  box-shadow: 1px 1.5px 1px 0px var(--shadow-blueish-soft);
  color: var(--shadow-blueish);
  background-color: white;
  }
html[data-mode="dark"] {
  #sidebar .sidebar-bottom a {
    background-color: #232328;
    }
}
#sidebar .sidebar-bottom a:not(:last-child) {
  margin-right: 0.74rem;
  }
#sidebar .sidebar-bottom a i {
  opacity: 0.9;
  transition: all 0.2s ease;
}
#sidebar .sidebar-bottom a:hover,
#sidebar .sidebar-bottom a:focus {
  transform: translateY(-3px);
  background-color: var(--sidebar-btn-bg);
  box-shadow: 1px 6px 6px 0px var(--shadow-blueish-soft);
  }
#sidebar .sidebar-bottom a:hover i,
#sidebar .sidebar-bottom a:focus i {
  opacity: 1;
  transition: all 0.2s ease;
  }
#sidebar .sidebar-bottom a i.icon-wavlake {
  background-image: url('/assets/img/icon-wavlake-blueish.svg');
  background-repeat: no-repeat;
  width: 72%;
  height: 72%;
  opacity: 0.8;
  background-position-x: 1px;
  }
#sidebar .sidebar-bottom a:hover i.icon-wavlake {
  opacity: 1;
}
html[data-mode="dark"] {
  #sidebar .sidebar-bottom a {
    color: unset;
    }
  #sidebar .sidebar-bottom a i {
    transition: all 0.6s ease;
    }
    /*
  #sidebar .sidebar-bottom a:hover i,
  #sidebar .sidebar-bottom a:focus i {
    filter: brightness(100);
    transition: all 0.2s ease;
    }
    */
  #sidebar .sidebar-bottom a i.icon-wavlake {
    filter: invert(100%) brightness(80%) saturate(0%);
    }
    /*
  #sidebar .sidebar-bottom a:hover i.icon-wavlake,
  #sidebar .sidebar-bottom a:focus i.icon-wavlake {
      filter: invert(100%) brightness(80%) saturate(0%) brightness(100);
      transition: all 0.2s ease;
    }
    */
}


/*
 *     MAIN     ---------------------------------------------------------------
 */

/* Fix padding of main section */
 @media (min-width: 768px) {
   .px-md-4 { padding-right: 4.5rem !important; }
 }
 @media (min-width: 1650px) {
   main.col-12 { padding-right: 10.5rem !important; }
 }





/*
 *     3rd  S I D E  P A N E L     --------------------------------------------
 */

#panel-wrapper {
      /*background-image: linear-gradient(to right, var(--3rdpanel-gradient-dark), var(--3rdpanel-gradient-light));*/
      /*background-image: linear-gradient( to right, hsl(216, 90%, 90%) 0%, hsl(216, 90%, 95%) 30%, hsl(216, 90%, 95%) 60%, transparent 100%);*/
      /*ackground-image: radial-gradient( circle, hsl(216, 90%, 90%) 0%, hsl(216, 90%, 95%) 30%, hsl(216, 90%, 95%) 60%, transparent 100%);*/
      background-image: radial-gradient( farthest-side at 0% 50%, hsl(213, 93%, 94%) 10%, hsl(216, 90%, 96%) 30%, hsl(217, 90%, 96%) 60%, transparent 95%);
      }
html[data-mode="dark"] {
  #panel-wrapper {
    background-image: unset;
  }
}

.access {
  margin-top: 9rem;
}

/*
 *     F O O T E R     --------------------------------------------------------
 */

footer {
  border: none;
  }

@media (min-width: 850px) {
  footer {

    padding: 0;
    height: 0.5rem;
    }
}


/* Tame position of back-to-top button */
#back-to-top {
  left: calc( 50% - (2.75rem / 2) );
  bottom: 3rem;
  position: absolute;
  border-color: transparent !important;
  border-image-width: 0 !important;;
}
@media (min-width: 850px) {
  #back-to-top {
    display: none !important;
    }
}

/* Style back-to-top button */
#back-to-top {
  background-color: hsla(215, 50%, 80%, 1);
  background-image: linear-gradient(to right, var(--topbar-gradient-dark), var(--topbar-gradient-light));
  border: none;
  box-shadow: 2px 3px 6px 0px rgba(0,0,20,0.15);
  transition: all 0.4s ease;
  }
#back-to-top:hover {
  box-shadow: 1px 5px 8px 0px rgba(0,0,20,0.2);
  transition: all 0.4s ease;
  border: none;
  }
#back-to-top i {
  color: white;
  text-shadow: 1px 1px 2px var(--shadow-blueish);
}

html[data-mode="dark"] {
  #back-to-top {
    background: unset;
  }
  #back-to-top i {
    color: unset;
  }
}

/*
 *     M I S C     ------------------------------------------------------------
 */


/* Fix post list's preview image width */
@media (min-width: 768px) {
  .col-md-7 { width: 47%; }
  .col-md-5 { width: 53%; }
}
#post-list .card .card-body .card-text.content p {
  -webkit-line-clamp: 3;
  }
@media (min-width: 850px) {
  #post-list .card .card-body .card-text.content p {
    -webkit-line-clamp: 2;
    }
}
@media ( (min-width: 1050px) and (max-width: 1200px) ) {
  #post-list .card .card-body .card-text.content p {
    -webkit-line-clamp: 4;
    }
}
@media (min-width: 1200px) {
  #post-list .card .card-body .card-text.content p {
    -webkit-line-clamp: 3;
    }
}
@media (min-width: 1350px) {
  #post-list .card .card-body .card-text.content p {
    -webkit-line-clamp: 4;
    }
}

/* Style card preview */
#post-list .card {
  --card-hovor-bg: white;
  --card-shadow: rgb(104, 104, 104, 0.07) 1px 2px 8px 0px, rgba(211, 209, 209, 0.15) 0 0 0 1px;
}

#post-list .preview-img,
.welcome .preview-img,
main a.img-link {
  transition: all 1s ease;
  }
.post-preview::before {
  z-index: 10;
}
/*In Dark Mode: dim images */
html[data-mode="dark"] {
  #post-list .preview-img img,
  .welcome .preview-img img,
  main a.img-link img {
    filter: brightness(70%) contrast(130%) sepia(20%);
    transition: all 0.6s ease;
    }
}


/* Post meta: fix category pills offset */
.post-meta .me-1 {
  margin-right: 0.65rem !important;
}


/* Fix for missing '--link-color-hover' variable */
#page-category a:hover, #page-tag a:hover, .post-tags .post-tag:hover, .post-tail-wrapper .license-wrapper > a:hover, #search-results a:hover, #topbar #breadcrumb a:hover, .content a:not(.img-link):hover, .post-meta a:not([class]):hover, #access-lastmod a:hover, footer a:hover {
  color: var(--link-color-hover) !important;
  }
/* Test: Turn off all hover underscored */
#page-category a:hover, #page-tag a:hover, .post-tail-wrapper .license-wrapper > a:hover, #search-results a:hover, #topbar #breadcrumb a:hover, .post-meta a:not([class]):hover, #access-lastmod a:hover, footer a:hover {
  border-bottom: 0px solid var(--link-color-hover) !important;
  }
/* During above test NOT applied: Revert above setting: get rid of underscore, with several !importnant-ness */
.content a:not(.img-link),
.content a:not(.img-link):hover,
#page-category a:hover {
  border-bottom: none;
  }
#topbar #breadcrumb a:hover {
  border-bottom: none !important;
  }

/* Small tags on a Post's page */
.post-tags .post-tag:hover, .tag:hover {
  background-color: hsla(10, 100%, 50%, 0.02)
  }
.tag {
  padding-bottom: 5px;
  }
html[data-mode="dark"] {
  .tag {
    border-color: var(--categories-border) !important;
    }
}

/* Big tags on the Category page */
.tags-in-categories {
  font-size: 2.25rem;
  font-weight: 400;
}
#tags {
  margin: 0 !important;
  justify-content: unset !important;
}
@media (max-width: 849px) {
  .tags-in-categories { display:none; }
}

/* Search: search hint pills */
#search-hints .post-tag {
  border: 1px solid rgba(0,0,20, 0.07);
  }
#search-hints .post-tag:hover {
  background-color: rgba(255,43,0,.02);
  color: var(--link-color-hover) !important;
  border-color: rgba(0,0,20, 0.15) !important;
  }
html[data-mode="dark"] {
  #search-hints .post-tag:hover {
    border-color: transparent !important;
    background-color: var(--search-tag-bg) !important;
    }

}


/* Fix image in frame */
.content img {
  object-fit: contain;
  object-fit: scale-down;
  height: fit-content;
  }
.content a.img-link {
  height: fit-content;
  }


  /* Margin for exclamation mark in headlines*/
  .exclamation-mark {
    display: inline-block;
    margin-left: 0.075em
  }


/*
*     New styling of headlines     ---------------------------------------------
*/

main article h1 {
  font-size: 2.25rem;
  }
main article main h1 {
  margin-bottom: 0.4rem;
  }

main article h2, main article h3, main article h4,
main article h5, main article h6 {
  font-weight: 600;
  clear: both;
  }

main article .mb-3 {
  margin-bottom: 0.5rem !important;
  }

/* Selects introductory paragraph of an article, if any */
/* Make compatible with displaying Tech-O-Meter */
main article:not(.card) .content > p:first-of-type {
  font-weight: bold;
  float: none;
  text-align: left;
  }
@media (min-width: 380px) and (max-width: 500px) {
  main article:not(.card) .content > p:first-of-type {
    text-align: justify;
    }
}
@media (min-width: 650px) and (max-width: 849px) {
  main article:not(.card) .content > p:first-of-type {
    text-align: justify;
    }
}
@media (min-width: 1100px) {
  main article:not(.card) .content > p:first-of-type {
    text-align: justify;
    }
}

main article .content h2 ~ p,
main article .content h3 ~ p,
main article .content h4 ~ p,
main article .content h5 ~ p,
main article .content h6 ~ p {
  font-weight: normal !important;
  }


/*
*     T E C H - O - M E T E R     ---------------------------------------------
*/


/* Styles */
.tech-o-meter {
--angle: -90deg;  /* Default */
--level: '0';   /* In case inline style attributes were not set */
--int-angle: attr(data-angle);
--int-level: attr(data-level);
--width: 75vw;
--ar: 1.925;
  width: 100%;
  aspect-ratio: var(--ar)/1;
  background: transparent;
  border: 1px solid transparent;
  box-sizing: border-box;
  shape-outside: margin-box;
  margin: 2rem auto 2rem auto;
  float: none;
  }


@media (min-width: 420px) {
  .tech-o-meter { width: 85%; }
}

@media (min-width: 500px) {
  .tech-o-meter {
    float: right;
    width: 42%;
    margin: 0rem 1rem 2rem 3rem;
    }
}

/* Appearence:
   (n): centered on mobile, float right on desktop
   (1): float right from intro text on desktop
   (2): centered below intro text on mobile
*/
main article .content .tech-o-meter:nth-of-type(1) {
  display: none;
  margin: 0rem 0rem 2rem 3rem;
  }

main article .content .tech-o-meter:nth-of-type(2) {
  margin: 1rem auto 4rem auto;
  }

@media (min-width: 500px) {
  main article .content .tech-o-meter:nth-of-type(1) { display: inline; }
  main article .content .tech-o-meter:nth-of-type(2) { display: none; }
}


/* Fix older browsers: fallback for aspect-ratio */
@supports not ( aspect-ratio: 0 ) {

/*  .tech-o-meter:before {
    content: "no-ar";
    position: absolute;
    }
*/
  .tech-o-meter {
    width: var(--width);
    height: calc( var(--width) / var(--ar) );
    }


  @media (min-width: 500px) {
    .tech-o-meter {
      float: right;
      --width: 42vw;
      width: var(--width);
      height: calc( var(--width) / var(--ar) );
      margin: 0rem 1rem 2rem 3rem;
      }
  }

  @media (min-width: 850px) {
    .tech-o-meter { --width: 23vw; }
  }

  main article .content .tech-o-meter:nth-of-type(1) {
    display: none;
    margin: 0rem 0rem 2rem 3rem;
    }

  main article .content .tech-o-meter:nth-of-type(2) {
    margin: 1rem auto 4rem auto;
    }

  @media (min-width: 500px) {
    main article .content .tech-o-meter:nth-of-type(1) { display: inline; }
    main article .content .tech-o-meter:nth-of-type(2) { display: none; }
  }

}


.tech-o-meter .headline {
  /*background: yellow;*/
  width: 100%;
  text-align: center;
  font-size: 1.26rem;
  margin-bottom: 0.5rem;
  line-height: 1.36rem;
  position: relative;
  }

.tech-o-meter .headline:nth-of-type(2)   {
  margin-top: -1.8rem;
  /*background: orange;*/
  width: 100%;
  line-height: 1.36rem;
  height: 1.36rem;
  text-align: right;
  z-index: 10;
}

.tech-o-meter .headline label {
  position: relative;
  width: 100%;
  /*background: red;*/
  /*width: 1em;*/
  /*height: 1em;*/
  opacity: 0.5;
  transition: opacity 0.3s ease;
  }

.tech-o-meter .headline label:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  }

.tech-o-meter .headline input {
  display: none;
  margin-left: 2em;
  }

.tech-o-meter .headline .info {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 0.4rem;
  background: var(--body-lightcreme);
  box-shadow: 0px 1px  4px rgba(0, 0, 0, 0.2),
              0px 0px 40px rgba(0, 0, 0, 0.0) inset;
  font-family: "Source Sans Pro","Microsoft Yahei",sans-serif;
  font-size: 0.8rem;
  margin-top: 0.25rem;
  }
.tech-o-meter .headline .info:before {
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  border-radius: 100px / 10px;
  }
.tech-o-meter .headline .info:after {
  content: "";
  position: absolute;
  z-index: -2;
  }

.tech-o-meter .headline input:checked + .info {
  color: red;
  }

.tech-o-meter .scale {
  width: 100%;
  height: 100%;
  border-top-left-radius: 52% 100%;
  border-top-right-radius: 52% 100%;
  background: transparent;
  /* babyblue    */ --0: hsl(215,100%, 85%);
  /* grassgreen  */ --1: hsl(115, 85%, 40%);
  /* applegreen  */ --2: hsl( 90, 75%, 60%);
  /* yellow      */ --3: hsl( 60, 85%, 60%);
  /* orange      */ --4: hsl( 45, 90%, 55%);
  /* dark orange */ --5: hsl( 30,100%, 50%);
  /* signal red  */ --6: hsl(  5,100%, 50%);
  /* tomato red  */ --7: hsl(  0, 95%, 35%);
  /* raspberry   */ --8: hsl(335, 85%, 30%);
  /* deep purple */ --9: hsl(270, 60%, 20%);
  /* cold black  */--10: hsl(215, 30%, 5%);
  /* transaorent */--11: transparent;
  /* light gray  */ --12a: hsl(20, 10%, 20%);
  /* dark gray   */ --12b: hsl(30, 60%, 5%);

  --slices: 12;
  --slice-size: calc( (180 / var(--slices) ) * 1deg);
  --fuzziness: 0.01;
  --s: var(--slice-size);
  --f: var(--fuzziness);

  background-image: conic-gradient(from -90deg at 50% 102%,
                                   var( --0)  0deg  calc(var(--s) * (1 - var(--f))),
                                   var( --1) calc(var(--s) * (1 + var(--f))) calc(var(--s) * (2 - var(--f))),
                                   var( --2) calc(var(--s) * (2 + var(--f))) calc(var(--s) * (3 - var(--f))),
                                   var( --3) calc(var(--s) * (3 + var(--f))) calc(var(--s) * (4 - var(--f))),
                                   var( --4) calc(var(--s) * (4 + var(--f))) calc(var(--s) * (5 - var(--f))),
                                   var( --5) calc(var(--s) * (5 + var(--f))) calc(var(--s) * (6 - var(--f))),
                                   var( --6) calc(var(--s) * (6 + var(--f))) calc(var(--s) * (7 - var(--f))),
                                   var( --7) calc(var(--s) * (7 + var(--f))) calc(var(--s) * (8 - var(--f))),
                                   var( --8) calc(var(--s) * (8 + var(--f))) calc(var(--s) * (9 - var(--f))),
                                   var( --9) calc(var(--s) * (9 + var(--f))) calc(var(--s) *(10 - var(--f))),
                                   var(--10) calc(var(--s) *(10 + var(--f))) calc(var(--s) *(11 + var(--f)*2)),
                                   var(--11) calc(var(--s) *(11 + var(--f))) calc(var(--s) *(12 + var(--f)))
                                   ),
          repeating-conic-gradient(from 180deg at 50% 100%, var(--12a) 0deg 0.125deg, var(--12b) 0.25deg 0.375deg, var(--12a) 0.5deg);

  box-shadow: 2px 3px 9px 0px hsla(10, 10%, 10%, 0.5) inset;



  padding: 0;
  box-sizing: border-box;
  position: relative;
  }

.tech-o-meter .clipping {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tech-o-meter .cover {
--width: 60%;
  width: var(--width);
  height: calc( var(--width) * 1.025 );
  background: var(--body-lightcreme);
  border-top-left-radius: 52% 100%;
  border-top-right-radius: 52% 100%;
  position: absolute;
  bottom: 0px;
  left: calc( 50% - (var(--width) / 2) );

  box-shadow: 5px 5px 30px 0px hsla(10, 10%, 10%, 0.6);
  }
html[data-mode="dark"] {
.tech-o-meter .cover {
  background: var(--main-bg);
  }
}


.tech-o-meter .brand {
    text-align: center;
    top:35%;

    position: relative;
    /*font-style: italic;*/
    font-size: clamp(100%, 2vw, 130%);
    font-weight: 700;
    color: transparent;
    background-color: hsl(25, 5%, 50%);
    text-shadow: 0px 2px 1px rgba(255,250,250,0.7);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    }

.tech-o-meter .needle {
--width: 1.5%;
--mount-size: 0.55em;
--offset: 3;
  width: var(--width);
  min-width: 2.5px;
  height: calc(64% + var(--offset) * 1%);
  background-color: red;
  background-image: linear-gradient( calc(155deg - var(--angle) * .35 ), #BBBBCC 5%, #666670 15%, #DDDDEE, #9999AA 55%, #CCCCDD 85%, #777788);
  position: absolute;
  bottom: 4%;
  left: calc( 50% - (var(--width) / 2) );
  transform-origin: 50% calc( 100% - var(--mount-size) * 1 );
  transform: rotate( var(--angle) );
  box-shadow: 2px 3px 5px 0px hsla(0, 10%, 5%, 0.4),
              0.5px 0.5px 1px 0px hsla(0, 0%, 100%, 0.6) inset,
              -0.5px -0.5px 1px 0px hsla(0, 0%, 0%, 0.3) inset;
  }

.tech-o-meter .needle:before {
--width: 1.3em;
  content: var(--level);
  line-height: calc( var(--width) );
  position: absolute;
  box-sizing: border-box;
  width: var(--width);
  aspect-ratio: 1/1;
  /*height: var(--width);*/
  background: white;
  display: inline-block;
  top: calc( -1 * var(--width) * 1.4 );
  left: calc( 50% - (var(--width) / 2) );
  text-align: center;
  border-radius: 20%;
  font-weight: bold;
  color: black;
  transform: rotateZ( calc( -1 * var(--angle) ) );
  box-shadow: 0px 0px 3px 0px hsla(0,   0%,   0%, 0.0) inset,
              0px 0px 0px 0px hsla(0, 100%, 100%, 0.0) inset,
              2px 2px 8px 0px hsla(0, 0%, 0%, 0.6);
  letter-spacing: -0.075em;
  }


.tech-o-meter .needle:after {
--width: var(--mount-size);
  content: "·";
  text-align: center;
  vertical-align: baseline;
  color: black;
  line-height: var(--width);
  position: absolute;
  background: red;
  background-image: linear-gradient( calc(220deg - var(--angle) * -0.4 ), #DDDDEE, #888899 80%, #777788);
  width: var(--width);
  aspect-ratio: 1/1;
  height: var(--width);
  bottom: calc( var(--width) / 2 );
  left: calc( 50% - (var(--width) / 2) );
  border-radius: 50%;
    box-shadow: 2px 3px 2px 0px hsla(0, 10%, 5%, 0.1),
                0px 0px 1px 0px hsla(0, 0%, 100%, 0.5) inset,
                -0.5px -0.5px 1px 0px hsla(0, 0%, 0%, 0.3) inset;
  }


@media (max-width: 400px) {
  .tech-o-meter .needle {
    --mount-size: 0.45em;
    }
}
@media (min-width: 600px) {
  .tech-o-meter .needle {
    --mount-size: 0.75em;
    }
}


/* The Tech-O-Meter modal */
.tech-o-meter-modal {
  position: fixed;
  top: 10vh;
  right: 6%;
  bottom: 8%;
  left: 6%;
  padding: 1rem 2rem 2rem 2rem;
  z-index: 100;
  visibility: hidden;
  transform: translate(0%, 110vh);
  transition: all 0.4s ease;
  border-radius: .5rem;
  box-shadow: 3px 4px 16px rgba(0,0,20,0.15);
  background-color: rgb(255 255 255 / 90%);

  }
html[data-mode="dark"] {
  .tech-o-meter-modal {
    background-color: hsla(0, 0%, 15%, 0.95);
    }
}

@supports ( backdrop-filter: blur() ) {
    .tech-o-meter-modal {
      background-color: rgb(255 255 255 / 40%);
      backdrop-filter: blur(21px);
    }
  html[data-mode="dark"] {
    .tech-o-meter-modal {
      background-color: hsla(0, 0%, 15%, 0.6);
      backdrop-filter: blur(21px);
      box-shadow: none;
      }
  }
}

@media (max-width: 600px) {
  .tech-o-meter-modal {
    top: 3rem;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 0;
    }
}
@media (min-width: 768px) and (max-width: 849px) {
  .tech-o-meter-modal {
    right: 3%;
    left: 3%;
    }
}
@media (min-width: 850px) {
  .tech-o-meter-modal {
    left: 290px;
    right:30px;
    }
}

/* Make it visible with JS by adding class to body */
.tech-o-meter-modal-show .tech-o-meter-modal {
  visibility: visible;
  transition: all 0.3s ease;
  transform: translate(0%, 0%);
  }

.tech-o-meter-modal .tech-o-meter-modal-toolbar {
  /*background: yellow;*/
  font-size: 1.26rem;
  text-align: center;
  margin-bottom: 2rem;
  }
.tech-o-meter-modal .tech-o-meter-modal-toolbar:after {
  content: "";
  /*background: hsla(0, 0%, 75%, 0.2);*/
  background-image: radial-gradient( hsla(0, 0%, 70%, 0.7), transparent 60%);
  /*width: 100%;*/
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 0.7rem;
  box-shadow: 0px 2px 5px -2px black;
  }
.tech-o-meter-modal .tech-o-meter-modal-toolbar label {
  margin-right: 0.25rem;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  position: absolute;
  right: 1.2rem;
  top: 1.45rem;
  }
.tech-o-meter-modal .tech-o-meter-modal-toolbar label:hover {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
  }
.tech-o-meter-modal .tech-o-meter-modal-toolbar label input {
  display: none;
  }





/*
 *     M A T H J A X     ------------------------------------------------------
 */

/** MathJax styles and fixes **/
/* Make font size smaller on small viewports */
@media (max-width: 600px) {
    mjx-container {
    font-size: 70% !important;
    }
}
/* Style equation display */
[id^='mjx-eqn'] { text-align: left; }
mjx-labels { opacity: 0.6; }
mjx-mtext { font-size: 65%; }






/*
 *      S P E C I A L   P O S T   S T Y L E S     -----------------------------
 */

/* Welcome message */
@media (max-width: 420px) {
  .welcome header .justify-content-between {
    display: inline !important;

    }
}
